importFrom("RColorBrewer","brewer.pal")
importFrom("geneplotter", "multiecdf","multidensity","smoothScatter")
importFrom("genefilter", "dist2")
importFrom("simpleaffy", "qc")
export("arrayQualityMetrics")
