#Imports: Biobase, RColorBrewer, affy, affyPLM, beadarray, genefilter,
#         grDevices, graphics, hwriter, lattice, latticeExtra, limma,
#         marray, methods, simpleaffy, stats, stats4, utils, vsn

importClassesFrom(affy, AffyBatch)

importClassesFrom(Biobase, NChannelSet)

importClassesFrom(Biobase, ExpressionSet)

importClassesFrom(beadarray, BeadLevelList)

importClassesFrom(limma, MAList, RGList)

importClassesFrom(marray, marrayNorm, marrayRaw)

importClassesFrom(methods, ANY, character, list, logical, matrix,
                  numeric)

importMethodsFrom(Biobase, assayData, channel, dims, exprs,
                  featureData, pData, phenoData, rowMedians,
                  sampleNames)

importMethodsFrom(affy, Mbox, mm, pm)

importMethodsFrom(beadarray, arrayNames, getArrayData)

importMethodsFrom(genefilter, plot)

importMethodsFrom(marray, boxplot, lines)

importMethodsFrom(simpleaffy, qc)

importMethodsFrom(stats4, update)

importMethodsFrom(vsn, meanSdPlot)

importFrom(RColorBrewer, brewer.pal)

importFrom(affy, AffyRNAdeg, plotAffyRNAdeg)

importFrom(beadarray, createBeadSummaryData)

importFrom(genefilter, dist2)

importFrom(grDevices, boxplot.stats, colorRampPalette, dev.off, pdf,
           png, rgb)

importFrom(graphics, legend)

importFrom(hwriter, closePage, hwrite, hwriteImage, openPage)

importFrom(lattice, bwplot, panel.bwplot, densityplot, panel.smoothScatter,
           panel.superpose, draw.key, levelplot, make.groups, strip.default,
           trellis.par.get, trellis.par.set, xyplot)

importFrom(latticeExtra, dendrogramGrob)

importFrom(methods, as, is)

importFrom(simpleaffy, plot.qc.stats)

importFrom(stats, as.dendrogram, as.dist, density, fft, hclust,
           order.dendrogram, quantile)

importFrom(utils, read.table, sessionInfo)

importFrom(RColorBrewer, brewer.pal.info)

export("arrayQualityMetrics")
export("addXYfromGAL")
exportClasses("aqmobj.box",
              "aqmobj.pmmm",
              "aqmobj.rnadeg",
              "aqmobj.dens",
              "aqmobj.prepaffy",
              "aqmobj.spatial",
              "aqmobj.pca",
              "aqmobj.heat",
              "aqmobj.prepdata",
              "aqmobj.spatialbg",
              "aqmobj.ma",
              "aqmobj.probesmap",
              "aqmobj.msd",
              "aqmobj.qcs",
              "aqmobj.nuse",
              "aqmobj.rle")
export("aqm.plot")
export("aqm.boxplot")
export("aqm.maplot")
export("aqm.density")
export("aqm.probesmap")
export("aqm.meansd")
export("aqm.heatmap")
export("aqm.pca")
export("aqm.rle")
export("aqm.nuse")
export("aqm.rnadeg")
export("aqm.qcstats")
export("aqm.pmmm")
export("aqm.prepdata")
export("aqm.prepaffy")
export("aqm.spatial")
export("aqm.spatialbg")
export("aqm.writereport")
