body { 
    padding-top: 10px; padding-left: 5%; padding-right: 5%;
    font-family: Palatino; 
    background-color: #ffffff 
}

table {
    border-collapse: collapse ; 
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: helvetica,arial,sans-serif;
    font-size: small
}


table td {
    padding-top: 2px; padding-bottom: 2px ; padding-left: 2px; padding-right: 2px;
    border-color: gray
}

h1 {
   text-align: center;
   font-family: helvetica,arial,sans-serif
}

h2 {
   font-family:helvetica,arial,sans-serif
}

