body { 
    padding-top: 10px; padding-left: 2%; padding-right: 2%;
    font-family: Palatino; 
    background-color: #ffffff 
}

table {
    border-collapse: collapse; 
    margin-left: 0px;
    margin-right: auto;
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: Palatino;
    font-size: small
}

table td {
    padding-top: 0px; padding-bottom: 0px ; padding-left: 2px; padding-right: 2px;
    border-color: gray
}

h1 {
   text-align: center;
   font-family: helvetica,arial,sans-serif
}

h2 {
   font-family:helvetica,arial,sans-serif
}

tocsection {
   font-weight:bold;
   font-family:helvetica,arial,sans-serif;
   font-size:12pt
}
tocmodule {
   font-weight:normal;
   font-family:helvetica,arial,sans-serif;
   font-size:11pt
}
